<div class="bc-circular-loader" bc-circular-loading [attr.bg-color]="color">
    <svg width="72" height="72" class="bc-circ-loader">
        <circle class="bc-circle-load" cx="8" cy="36" />
        <circle class="bc-circle-load" cx="16" cy="16" />
        <circle class="bc-circle-load" cx="36" cy="8" />
        <circle class="bc-circle-load" cx="56" cy="16" />
        <circle class="bc-circle-load" cx="64" cy="36" />
        <circle class="bc-circle-load" cx="56" cy="56" />
        <circle class="bc-circle-load" cx="36" cy="64" />
        <circle class="bc-circle-load" cx="16" cy="56" />
    </svg>
</div>
