.bc-nav-landing {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    z-index: 998 !important;
}

