<div class="container mt-5 py-2">
  <div class="d-flex" style="align-items: center; vertical-align: middle">
    <a (click)="goBack()" style="cursor: pointer">
      <img src="assets/img/back-ask.svg" alt="back" />
    </a>
    <div class="d-flex flex-column pl-4">
      <h4 class="title-loan">MARVEL</h4>
      <p class="body1">Characters</p>
    </div>
  </div>
</div>

<div class="align-items-center d-flex flex-row-reverse mt-5">
  <div class="col-lg-6 col-6">
    <img
      class="mh-100 d-block mx-auto img-fluid img-size"
      src="{{ characterInfo?.thumbnail?.path }}.{{
        characterInfo?.thumbnail?.extension
      }}"
      alt=""
    />
  </div>

  <div class="col-lg-4 col-6">
    <h2>{{ characterInfo?.name }}</h2>

    <h4>{{ characterInfo?.description }}</h4>
  </div>
</div>

<div class="col-12 mt-5" *ngIf="comicsInfo">

    <app-mat-card-custom [data] = "comicsInfo"></app-mat-card-custom>

</div>

<!-- <div class="col-12">

    <app-mat-card-custom></app-mat-card-custom>

</div> -->



