<div class="d-flex justify-content-center py-5">
    <h1>{{ title }}</h1>
  </div>
  
  <div class="row py-3 align-items-center" *ngIf="datacomics">
    <div class="col-12 text-center">
      <div class="horizontal-scroll d-flex align-items-center">
        <ul #cardContent class="section-list">
          <mat-card
            class="example-card item"
            *ngFor="let comic of datacomics"
          >
            <mat-card-header>
              <mat-card-title class="">{{ comic.title }}</mat-card-title>
            </mat-card-header>
  
            <mat-card-content class="text-justify">
              <div class="">
                <img
                  class="pr-1"
                  class="img-size"
                  src="{{ comic.thumbnail.path }}.{{
                    comic.thumbnail.extension
                  }}"
                  alt=""
                />
              </div> 
            </mat-card-content>   
            <mat-card-actions>
               Pages:  {{ comic.pageCount }}   <br>
               SaleDate:  {{ comic.dates[0].date | date }}  
              </mat-card-actions>   
          </mat-card>
        </ul>
      </div>
    </div>
  </div>
  

<div class="text-center py-5" *ngIf="!datacomics"> 
    <bc-circular-loader></bc-circular-loader>
</div>