<header>
    <app-header>
        <div class="navbar-container"> 
            <div class="bc-list-options"> 
                <a><span class="color-title-active" (click)="onActiveTitleOption(1);">Characters</span> 
                     
                </a> 
                <a><span class="color-title-active"  (click)="onActiveTitleOption(2);">Comics</span> 
                </a>  
                <a><span class="color-title-active"  (click)="onActiveTitleOption(3);">Stories</span>
                    <!-- <mat-menu #story="matMenu">
                        <button (click)="onActivateDisplay(31)" mat-menu-item style="background-color: white !important;"><span class="color-active">Stories characters</span></button> 
                        <button (click)="onActivateDisplay(32)" mat-menu-item style="background-color: white !important;"><span class="color-active">Stories comics</span></button>  
                    </mat-menu>  -->
                </a> 
            </div> 
            <a [routerLink]="['/']" class="bc-brand">
                <img src="assets/img/marvel-logo.jpg" alt="Isotipo">
            </a>
        </div>
    </app-header>
</header>



<main>

    <div class="background-lite">
        <div class="container"> 
            <form action="" class="position-relative">
                <input  [(ngModel)]="searchtexting" class="txt-search body1" type="text" name="searchText" id="searchText" placeholder="write your favorite ..." (keyup)="search()">            
                <span class="abs-image">
                    <img src="assets/img/search-ask.svg" alt="Buscar">
                </span> 
            </form>   
         </div> 
         <div class="col-12 d-flex justify-content-center" style="cursor: pointer;">
            <div class="custom-control custom-radio">
                <input value="1" type="radio" (click)="onCheckAsc()"  class="custom-control-input" id="defaultUnchecked" name="rdo" mdbInput>
                <label class="custom-control-label" for="defaultUnchecked">Ascending</label>
              </div>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <div class="custom-control custom-radio">
                <input value="2" type="radio" (click)="onCheckDes()" class="custom-control-input" id="defaultChecked" name="rdo"  mdbInput>
                <label class="custom-control-label" for="defaultChecked">Descending</label>
              </div>
          </div> 
    </div>

    <div class="bc-container"> 

        <app-character 
        *ngIf="optionOne" 
        [datacharacters]="characters"
        [title] = "titlelabel"
        ></app-character>

        <app-comic 
        *ngIf="optionTwo" 
        [datacomics]="comics"
        [title] = "titlelabel"
        ></app-comic>
      
        <app-story 
        *ngIf="optionThree" 
        [datastories]="stories"
        [title] = "titlelabel"
        ></app-story>
   
    </div>


</main>




