
header {
  position: relative;
  min-height: 60px;
  z-index: 999 !important;
}

main {
  position: absolute;
  //   min-height: calc(100vh - 60px);
  min-width: 100% !important;
  width: 100% !important;
}

.navbar-container {
  position: relative;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

.bc-brand img {
  width: 101.43px;
  height: 40px;
}

.bc-list-options a {
  font-family: "LondonWeb";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -1px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  cursor: pointer;
}

.bc-list-options a + a {
  margin-left: 40px;
}

.color-active:hover {
  color: #fb0019;
}

.color-title-active:hover {
  color: rebeccapurple;
}

.background-lite {
  background: #f2f2f2;
  padding-top: 32px; 
  padding-bottom: 24px;
}

.title-dudes {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 37px;
}

.txt-search {
  position: relative;
  width: 634px;
  height: 69px;
  line-height: 69px;
  margin-left: calc(50% - 317px) !important;
  border: none !important;
  outline: none !important;
  margin-bottom: 24px;
  border-radius: 69px;
  font-weight: 300;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.7);
  padding-left: 75px !important;
}

.abs-image {
  position: absolute;
  top: 50%;
  left: calc(50% - 317px + 40px) !important;
  transform: translate(-50%,-85%);
}

@media only screen and (max-width: 768px) {
  header {
    position: relative;
    min-height: 56px;
  }

  .navbar-container {
    height: 60px;
  }

  .bc-brand img {
    width: 69px;
    height: 29px;
    margin-right: 12px;
  }

  .bc-list-options a {
    font-size: 12px;
    line-height: 16px;
  }

  .bc-list-options a + a {
    margin-left: 16px;
  }

  .color-active {
    font-size: 12px !important;
  }

  .title-dudes {
    font-size: 24px;
    line-height: 28px;
  }

  .txt-search {
    width: 286px;
    height: 50px;
    line-height: 50px;
    margin-left: calc(50% - 143px) !important;
    font-size: 16px;
    padding-left: 60px !important;
  }

  
  .abs-image {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: calc(50% - 143px + 35px) !important;
    transform: translate(-50%,-70%);
}

}

